




.layoutContainer{

    display:flex;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:100vh;
    --light:#FEEAE6;
    margin-top:160px;



}



.layout
{

        width: 100%;
        height:100%;
        /* border:1px solid black; */
        max-width: 900px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10px;
        /* background-color: var(--light); */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;


}